
<div class="blog content-area-2">
    <div class="container">
        <div class="main-title"><br>
            <p style = "font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 75px;
    color: #ED228B;">Oferta de ultimo minuto</p>
            <!-- <h1>Paquete Vacacional</h1> -->
            <p style="">“La vida no se mide por las veces que respiras, sino por los momentos que te dejan sin aliento.”</p>
        </div>
        
        <!-- ultimo contenedor con las 3 imagenes redondas -->
        <div class="row" style="background: #FFDEDE;
border-radius: 15px;">
          
<div class="row col-12 d-flex justify-content-center" style="padding: 30px 0 30px 0;">
  <div class="divofertaultimominuto row d-flex align-items-center">
    
<div>
  
</div>
: 
<div>
  
</div>
:
<div>
  
</div>

  </div>
</div>


<div class="row col-12">

    {% for piece in data.widget._pieces %}

            <div class="col-lg-4 col-md-6 wow fadeInLeft delay-04s">
                <div class="agent-1">
                    <div class="agent-photo">
                        <a  style="cursor:pointer">
                            <img src="{{piece.imagen}}" alt="avatar" class="rounded-circle">
                        </a>
                    </div>
                    <div class="agent-details ">
                       

                        <div  style="cursor:pointer " class="row d-flex justify-content-center">
                        <div class="col-1">
                            <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>
                        </div>
                        <div style="font-size: 13px;">
                             {{piece.Lugar}}
                        </div>

                    </div>

                        <div  style="cursor:pointer " class="row d-flex justify-content-center">
                        <div class="col-1">
                            <i class="fa fa-calendar-o"></i>
                        </div>                        
                        <div style="font-size: 13px;">                         
                             {{piece.calendar}}
                        </div>

                    </div>

                    <div  style="cursor:pointer " class="row d-flex justify-content-center">
                        <div class="col-1">
                            <i class="fa fa-user"></i>
                        </div>                        
                        <div style="font-size: 13px;">                         
                             {{piece.cantidadPersonas}}
                        </div>

                    </div>

                    <div  style="cursor:pointer;color: #ED228B; " class="row d-flex justify-content-center">
                        <div class="col-1">
                            <i class="fa fa-gift"></i>
                        </div>                        
                        <div style="font-size: 13px;">                         
                             {{piece.regalo}}
                        </div>

                    </div>
                        
                        <!-- <ul class="social-list clearfix">
                            <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
                        </ul> -->
                    </div>
                </div>
            </div>
            
    {% endfor %}
        </div>

        </div>
        <!-- fin del ultimo contenedor con las 3 imagenes redondas -->
    </div>
</div >
<!-- Agent end