<script type="text/javascript">


    function cargardestino(namedestino) {
     $('#users-form').trigger('reset');
     $('#destino').val(namedestino) ;
     loadfechaform();
     grecaptcha.reset();
     var x = document.querySelectorAll("#submit");
     x[0].setAttribute('style', 'display: none !important');


     var divdestino = document.querySelectorAll("#divdestino");
     divdestino[0].setAttribute('style', 'display: block !important');
     var divfecha = document.querySelectorAll("#divfecha");
     divfecha[0].setAttribute('style', 'display: block !important');
     $('#exampleModalScrollable').modal('show');






 }





</script>
<!-- Featured properties start -->
<div class="featured-properties content-area-7" style="width: 100%">
    <div class="container">
        <div class="main-title">
         <p style = "font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2em;
    line-height: 50px;
    color: #ED228B;"
    >Escoje tu</p>
         <p style="font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 2.5em;
    line-height: 50px;
    text-align: center;
    color: #5A5A5A;"
    >Destino en oferta</p>
     </div>
     <div class="slick-fullwidth">




        {% for piece in data.widget._pieces %}


        <div class="slick-slide-item" onclick="cargardestino('{{piece.nombreDestino}}')" style="">
        <div class="property-box"  style="
        font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
        padding: 15px; width: auto;
        /*height: 555px;*/
        /*left: 621px;*/
        /*top: 1295px;*/

        background: #FBFBFB;
        border: 1px solid #C0C0C0;
        box-sizing: border-box;
        box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        cursor:pointer">
        <div class="property-thumbnail" 
                    style=" /*margin-left: 10px;
                    margin-right: 10px;*/
                    /*width: 269px; */
                    padding-top: 156.25%;
                    background: url({{piece.imagen}});
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 5px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover">
                    <!-- <a  style="width: 100%;height: 20%;bottom: 0;position: absolute;cursor:pointer;" class="property-img"> -->
                      <!-- <div class="tag button alt featured">
                        {{piece.nombreDestino}}
                    </div> -->
                    <div class="row price-ratings-box d-flex align-items-center" 
                    style="background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 3.33%);
                    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 0px 0px 5px 5px;width: 100%">
                        <div class="col-6 d-flex justify-content-start">
                            <div class="ratings" style="font-size: 14px">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                    </div>
                        </div>
                        <div class="col-6 d-flex justify-content-end align-items-center">
                            <p class="price" style="font-size: 14px">
                          {{piece.precio}}
                          <p style="font-size: 10px;color: #fff; margin-bottom: 0;">mxn</p> 
                      </p>
                        </div>
                      
                    
                </div>

                <!-- <img src="{{piece.imagen}}" alt="property-3" class="img-fluid"> -->
            <!-- </a> -->

        </div>
        <div class="detail">
            <br>
                        <!-- <h1 class="title">
                            <a  style="cursor:pointer">
                              {{piece.nombreDestino}}
                          </a>
                      </h1> -->
                      <div class="location" 
                      style="background: #F3F3F3;
                      border-radius: 2px;">
                      <div  style="cursor:pointer " class="row">
                        <div class="col-1">
                            <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>
                        </div>
                        
                        <div style="font-size: 13px;">

                                {{piece.location}} 
                            
                            <br>
                            
                             {{piece.Lugar}}     
                         

                        </div>

                    </div>
                </div>
                <ul class="facilities-list clearfix">

                    <li>
                        <i class="fa fa-calendar-o"></i>
                    {{piece.calendar}}
                    </li>
                    <li>
                        <i class="fa fa-user"></i>
                            {{piece.user}}
                    </li>
                   
                </ul>
            </div>
            <div class="footer container">
                <div class="facilities-list clearfix row ">

                    <div class="col-6">
                        <p style="font-family: Product Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 16px;
                        /* or 89% */

                        text-decoration-line: line-through;
                        margin-bottom: 0;
                        color: #858585;
                        ">
                        Total desde
                    </p>
                    <div class="d-flex justify-content-start">
                        <p style="font-family: Product Sans;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 18px;
                        /* identical to box height, or 180% */
                        text-decoration-line: line-through;
                        
                        color: #FF0000;
                        ">
                        {{piece.precio}}
                    </p>
                    <p style="font-family: Product Sans;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 18px;
                    /* identical to box height, or 180% */


                    color: #FF0000;
                    ">
                    mxn
                </p>
            </div>

        </div>
        <div class="col-6 row d-flex align-items-center" style="padding-right: 0">
            <p class="preciototal" style="
            font-family: Product Sans;
            font-style: normal;
            font-weight: bold;
            line-height: 18px;
            /* identical to box height, or 50% */


            color: #ED228B;">
            {{piece.preciofinal}}
        </p>
        <p style="font-family: Product Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */


        color: #ED228B;
        ">
        mxn
    </p>
</div>

</div>

</div>
<!-- end fotter -->
<!-- boton quiero saber mas -->
<div class="d-flex justify-content-center align-items-center" style="
height: 30px;
background: #3568AD;
border-radius: 5px">

    <a style="font-family: Product Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;">
        Quiero saber más
    </a>
</div>
<!-- fin del boton -->


</div>
</div>


    {% endfor %}
<!-- <div class="slick-dots" style="" role="tablist"> -->
    <div class="slick-prev slick-arrow" style="display: none !important;">
        <i class="fa fa-angle-left"></i>
    </div>
    <div class="slick-next slick-arrow" style="display: none !important;">
        <i class="fa fa-angle-right"></i>
    </div>
<!-- </div> -->





</div>
<div id="dots-del-slick" class="d-flex justify-content-center">
    
</div>
</div>
</div>

<!-- Featured properties end -->

























