{#
  This is an example home page template. It inherits and extends a layout template
  that lives in the top-level views/ folder for convenience
#}

{% extends "layout.html" %}

{% import "macros/utils.html" as utils with context %}

{% block title %}
  {# Create a useful, SEO-friendly title tag based on what we have #}
 Travel Pass: Grandes Descuentos
{% endblock %}

{% block standardHead %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  {% endblock %}

  {% block extraHead %}
    <!-- External CSS libraries -->
    
    <link type="text/css" rel="stylesheet" href="assets/css/magnific-popup.css">
    <!-- <link type="text/css" rel="stylesheet" href="assets/css/jquery.selectBox.css"> -->
    <link type="text/css" rel="stylesheet" href="assets/css/dropzone.css">
    <link type="text/css" rel="stylesheet" href="assets/css/rangeslider.css">
    <link type="text/css" rel="stylesheet" href="assets/css/animate.min.css">
    <link type="text/css" rel="stylesheet" href="assets/css/leaflet.css">
    <link type="text/css" rel="stylesheet" href="assets/css/slick.css">
    <link type="text/css" rel="stylesheet" href="assets/css/slick-theme.css">
    <link type="text/css" rel="stylesheet" href="assets/css/map.css">
    <link type="text/css" rel="stylesheet" href="assets/css/jquery.mCustomScrollbar.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">
    
     <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    
  <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="assets/css/skins/default.css">

   
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
<link rel="stylesheet" href="assets/css/bootstrap-select-country.min.css" type="text/css" />



{% endblock %}

{% block beforeMain %}
  {#
    We recommend you use the beforeMain block for global page components
    like headers or navigation.
  #}


     


<!-- main header start -->
<header class="main-header sticky-header" id="main-header-2" style="z-index: 10;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo navbar-brand d-flex w-50 mr-auto" href="/">
                        <img src="assets/img/logos/black-logo.png" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="navbar-collapse collapse w-100" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- main header end -->


{% endblock %}


{% block main %}
  {#
    Usually, your page templates in the apostrophe-pages module will override
    this block. It is safe to assume this is where your page-specific content
    should go.
  #}




 







  <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true" style="align-items: center !important; justify-content: center !important;">
    <div class="modal-dialog  modal-notify modal-warning modal-dialog-centered"  style="top: 5%;" role="document">

        <!-- <div class="modal-content"> -->
      <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-window-close" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div> -->

<div class="d-flex align-items-center justify-content-center"  >
        <!-- <div class="" id="formulario"  > -->


        <div class="row container" style="background: rgba(255, 255, 255, 0.92); border-radius: 10px;">
            <!-- Form -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;top: 15px;left: 15px;">
          <i class="fa fa-window-close-o" aria-hidden="true"></i>
        </button>

            <div class="nb-form container" >
                <div class="row d-flex align-items-center justify-content-center" style="">
                    <div class="col-10 d-flex align-items-center justify-content-center" style="border-bottom-color: #ED228B;
    border-bottom-style: solid;
    border-bottom-width: 2px;">
                       <p class="title">Contacto</p> 
                    </div>                
                </div>
               

                <form class="" id="users-form">

                 <div id="divdestino" class="form-group" style="display: none;" >
                    <label for="destino">Destino:</label><br>
                  <input id="destino" type="text" name="destino" style="width: 95%;" placeholder="Destino!!!" readonly>
              </div>
              <div id="divfecha" class="form-group" style="display: none;">
                <label for="example-date-input">Fecha:</label><br>
                 <input class="form-control" name="fecha" style="width: 95%;" type="date"  id="example-date-input">
                

             <script type="text/javascript">
                function loadfechaform() {
    var dat = new Date();

    if ((dat.getMonth()+1)<10) {
        document.getElementById('example-date-input').value =  dat.getFullYear() + "-0"+ (dat.getMonth()+1) + "-" + dat.getDate();
    }else {
       document.getElementById('example-date-input').value =  dat.getFullYear() + "-"+ (dat.getMonth()+1) + "-" + dat.getDate();
   } 
}  
loadfechaform();

         </script>
     </div>




     <div class="form-group">
      <input class="form-control" type="text" name="cpname" style="width: 95%;" placeholder="Nombre" required>
  </div>
  <div class="form-group">
     <input class="form-control" type="tel" name="cpphone" style="width: 95%;" placeholder="Teléfono móvil" >
 </div>
  <div class="form-group">
     <input class="form-control" type="email" name="cpemail" style="width: 95%;" placeholder="Correo Electrónico" >
 </div>
 <div class="form-group">
 <select id="selectpickerselect" class="selectpicker countrypicker  show-tick form-control" data-width="auto" data-style="height: 30px;" data-live-search="true" data-flag="true" ></select>
    <input id="countryinput" type="text" name="country" style="width: 95%; display: none !important;" placeholder="Country" >
 </div> 
 <div class="form-group">
    <textarea class="form-control" name="cpmessage" style="width: 95%;" placeholder="Comentario" required></textarea>
</div>





     <!--  <div class="form-group col-12 d-flex justify-content-center">
        <div class="form-group">
          <img id="captcha" style="background-color: white" src="/captcha"/>
        </div>
        
      </div>
      
      <div class="form-group col-12 d-flex justify-content-center">
       <div class="form-group">
        <input name="text" class="form-control form-control-lg" type="text" placeholder="Captcha" required style="text-align: center;">
      </div>
  </div> -->

  <div id="html_element" class="d-flex align-items-center justify-content-center" data-callback="enableBtn" ></div>
<div class="d-flex justify-content-end" style="padding-top: 5px">
  <button id="submit" class="d-flex justify-content-center" style="display: none !important;" type="submit" >Enviar</button>
</div>
  
</form>
<!-- </div> -->
</div>
</div>  



    

</div>
</div>
</div>



<!-- Banner start -->
<div class="banner" id="banner">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" >
            <div class="carousel-item active" style="max-height: 100vh;">

              <div class="w-100 d-flex align-items-center justify-content-end" style="z-index: 11;position: fixed; bottom: 0">
                <div class="col-md-5 d-flex align-items-center justify-content-center">
                  
                  <div class="btn btn-md sn row d-flex align-items-center justify-content-center" id="commmit" type="button" onclick="formcommit()" style=" margin: .1px; position: fixed; font-family: Product Sans;
font-style: normal;
font-weight: normal;
font-size: 1em;
line-height: 0px;
color: #FFFFFF;"
data-toggle="modal" data-target="#exampleModalScrollable">
                <i style="position: relative; background: url(assets/img/Contactanos.png);
    width: 42px;
    height: 1.5em;
    background-size: contain;
    background-repeat: no-repeat;" >
  </i>
    Contactos
                <!-- <i class="fa fa-comments"></i> -->
              </div>


                </div>

              </div>
              
                <img class="d-block w-100" src="assets/img/slide3.jpg" alt="banner">
                <div class="carousel-caption banner-slider-inner d-flex h-100 text-center">
                    <div class="carousel-content container">
                        <div class="t-left">
                           
                            <h1 data-animation="animated fadeInUp delay-05s">Viaja, Descubre
 															<br/> y Disfruta </h1>
                            <p style = "font-family:blacksword;font-size:30px;font-style:italic;" data-animation="animated fadeInUp delay-10s">
                                #TravelFantasy
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner end -->

{{ utils.modulos(data.page, 'modulo', 'one-half') }}


<!-- services start -->
<div class="services content-area-20 bg-white">
    <div class="container">
        <div class="main-title">
            <h1>Con Travel Pass obtén tu Certificado de Regalo,<br> ¡Compra ahora, viaja después!</h1>
        </div>
        
    </div>
    <div class="container" style="background: #FBF7F7;
border-radius: 15px;">

<div class="main-title" style="margin-bottom: 0">
  <h1 style="font-family: Product Sans;
font-style: normal;
font-weight: bold;
/*font-size: 48px;*/
line-height: 75px;
/* identical to box height, or 156% */

text-align: center;

color: #ED228B;">
    Tu viaje en 3 pasos
  </h1>
</div>

<div class="d-flex justify-content-between row" >

  <div class="container col-12 col-md-4 d-flex justify-content-center">
      <div class="col-lg-8 col-md-12 col-6 d-flex justify-content-center row">

    <div style="margin-bottom: 4em; width: 29px;height: 29px;background: #07913E;border-radius: 20px;" class="d-flex justify-content-center align-items-center">
      <a style="font-family: Product Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      /* identical to box height, or 100% */

      text-align: center;

      color: #FFFFFF;">1</a>
    </div>
    <br>
    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-bottom: 4em">
      <img src="/assets/img/VectorSmartObject.png" style="max-width: 50%;">
    </div>

<div class="col-12 d-flex justify-content-center align-items-center" style="margin-bottom: 4em">
      <p class="foterdepasos" style="font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    /*font-size: 1.7em;*/
    /*line-height: 24px;*/
    display: flex;
    align-items: center;
    text-align: center;
    color: #696969;">
        Aparta tus vacaciones y congela el mejor precio
      </p>
    </div>

  </div>

  </div>


  <div class="container col-12 col-md-4 d-flex justify-content-center">
      <div class="col-lg-8 col-md-12 col-6 d-flex justify-content-center row">
    <div style="margin-bottom: 4em; width: 29px;height: 29px;background: #07913E;border-radius: 20px;" class="d-flex justify-content-center align-items-center">
      <a style="font-family: Product Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      /* identical to box height, or 100% */

      text-align: center;

      color: #FFFFFF;">2</a>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-bottom: 4em">
      <img src="/assets/img/Vector.png" style="max-width: 50%;">
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-bottom: 4em">
      <p class="foterdepasos" style="font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    /*font-size: 1.7em;*/
    /*line-height: 24px;*/
    display: flex;
    align-items: center;
    text-align: center;
    color: #696969;">
        Toma tu tiempo para decidir cuando y con quien viajar.
      </p>
    </div>
  </div>
  </div>


  <div class="container col-12 col-md-4 d-flex justify-content-center">
      <div class="col-lg-8 col-md-12 col-6 d-flex justify-content-center row">
    <div style="margin-bottom: 4em; width: 29px;height: 29px;background: #07913E;border-radius: 20px;" class="d-flex justify-content-center align-items-center">
      <a style="font-family: Product Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      /* identical to box height, or 100% */

      text-align: center;

      color: #FFFFFF;">3</a>
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-bottom: 4em">
      <img src="/assets/img/aaa1.png" style="max-width: 50%;">
    </div>
    <div class="col-12 d-flex justify-content-center align-items-center" style="margin-bottom: 4em">
      <p class="foterdepasos" style="font-family: Product Sans;
    font-style: normal;
    font-weight: normal;
    /*font-size: 1.7em;*/
    /*line-height: 24px;*/
    display: flex;
    align-items: center;
    text-align: center;
    color: #696969;">
        Confirma tu hospedaje, liquida y viaja
      </p>
    </div>
  </div>
  </div>


  





<div class="col-12 d-flex justify-content-center align-items-center">
  <div 
  style="background: #D0D0D0;
    border-radius: 3px;
    width: 95%;
    " class="row">
    <div class="col-12 col-md-8 d-flex align-items-center row">
      <div class="col-11 col-lg-8" style="font-family: Product Sans;
    padding: 10px 0 10px 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    /*display: flex;*/
    align-items: center;
    text-align: center;
    color: #525151;
    ">
Pregunta por regalos para tarjetas de crédito participantes:</div>

<div class="col-12 col-lg-4 row d-flex justify-content-center align-items-center">
  <div class="col-6" style="padding: 10px 0 10px 10px;">
  <img style="width: 100%" src="/assets/img/logo-mastercard-mobile.png">
</div>

<div class="col-6" style="padding: 10px 40px 10px 0;">
  <img style="width: 100%" src="/assets/img/visa-logo.png">
</div>
</div>


    </div>

    <div class="col-12 col-md-4 d-flex justify-content-center align-items-center" style="padding-left: 0;">
      <div id="masestilo" class="col-12 d-flex justify-content-center align-items-center" style="margin-left: 0;
    border-left-style: double;
    border-left-width: 1px;
">
        <a  style="/* height: 30px; */font-family: Product Sans;font-style: normal;font-weight: bold;font-size: 1.0em;line-height: 11px;
/* identical to box height, or 75% */color: #FFFFFF;/* width: 269px; *//* color: white; */background: #3568AD;box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);border-radius: 5px;" class="btn btn-md sn">
        Más información
      </a>
      </div>
      
    </div>
  </div>
</div>

<div class="col-12 d-flex justify-content-center align-items-center">
  <br/>
</div>

</div>

</div>
</div>
<!-- services end -->

{{ utils.modulos(data.page, 'ofertas', 'one-half') }}

<!-- intro section start -->
<div class="intro-section">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-lg-3 col-md-3 col-sm-12">
                <img src="assets/img/logos/logo-white.png" alt="loo" width="144" height="33">
            </div>
            <div class="col-lg-6 col-md-4 col-sm-12 d-flex justify-content-center">

                
                        <div class="row" >
                            <div class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-facebook" style="color: white; font-size: 2em;"></i>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-twitter" style="color: white; font-size: 2em;"></i>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-instagram" style="color: white; font-size: 2em;"></i>
                                </a>
                            </div>
                            <div class="nav-item">
                                <a class="nav-link" href="/" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-youtube-play" style="color: white; font-size: 2em;"></i>
                                </a>
                            </div>
                           
                        </div>
                  

            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 d-flex align-items-center justify-content-center">
                <a  onclick="abrirmodalform()" class="btn btn-md sn" style="color: white">Descubre como</a>
           
            </div>
        </div>
    </div>
</div>
<!-- intro section end -->



<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="#">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="button" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- Property Video Modal -->
<div class="modal property-modal fade" id="propertyModal" tabindex="-1" role="dialog" aria-labelledby="propertyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="propertyModalLabel">
                    Find Your Dream Properties
                </h5>
                <p>
                    <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i> 123 Kathal St. Tampa City,
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 modal-left">
                        <div class="modal-left-content">
                            <div id="modalCarousel" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                    <div class="carousel-item active">
                                        <iframe class="modalIframe" src="https://www.youtube.com/embed/5e0LxrLSzok"  allowfullscreen></iframe>
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://placehold.it/400x266" alt="Test ALT">
                                    </div>
                                    <div class="carousel-item">
                                        <img src="https://placehold.it/400x266" alt="Test ALT">
                                    </div>
                                </div>
                                <a class="control control-prev" href="#modalCarousel" role="button" data-slide="prev">
                                    <i class="fa fa-angle-left"></i>
                                </a>
                                <a class="control control-next" href="#modalCarousel" role="button" data-slide="next">
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                            <div class="description"><h3>Description</h3>
                                <p>
                                    Curabitur odio nibh, luctus non pulvinar a, ultricies ac diam. Donec neque
                                    massa, viverra interdum eros ut, imperdiet pellentesque mauris. Proin sit amet scelerisque
                                    risus. Donec
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 modal-right">
                        <div class="modal-right-content bg-white">
                            <strong class="price">
                                $178,000
                            </strong>
                            <section>
                                <h3>Features</h3>
                                <ul class="bullets">
                                    <li><i class="flaticon-bed"></i> Double Bed</li>
                                    <li><i class="flaticon-swimmer"></i> Swimming Pool</li>
                                    <li><i class="flaticon-bath"></i> 2 Bathroom</li>
                                    <li><i class="flaticon-car-repair"></i> Garage</li>
                                    <li><i class="flaticon-parking"></i> Parking</li>
                                    <li><i class="flaticon-theatre-masks"></i> Home Theater</li>
                                    <li><i class="flaticon-old-typical-phone"></i> Telephone</li>
                                    <li><i class="flaticon-green-park-city-space"></i> Private space</li>
                                </ul>
                            </section>
                            <section>
                                <h3>Overview</h3>
                                <dl>
                                    <dt>Area</dt>
                                    <dd>2500 Sq Ft:3400</dd>
                                    <dt>Condition</dt>
                                    <dd>New</dd>
                                    <dt>Year</dt>
                                    <dd>2018</dd>
                                    <dt>Price</dt>
                                    <dd>$178,000</dd>
                                </dl>
                            </section>
                            <a href="#" class="btn btn-show btn-theme">Show Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Off-canvas sidebar -->
<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header">
            <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
        </div>
        <div class="off-canvas-content">
            <aside class="canvas-widget">
                <div class="logo-sitebar text-center">
                    <img src="assets/img/logos/logo.png" alt="logo">
                </div>
            </aside>
            <aside class="canvas-widget">
                <ul class="menu">
                    <li class="menu-item menu-item-has-children"><a href="/">Home</a></li>
                    <li class="menu-item"><a href="properties-grid-leftside.html">Properties List</a></li>
                    <li class="menu-item"><a href="#">Property Detail</a></li>
                    <li class="menu-item"><a href="blog-single-sidebar-right.html">Blog</a></li>
                    <li class="menu-item"><a href="about-1.html">About  US</a></li>
                    <li class="menu-item"><a href="contact-1.html">Contact US</a></li>
                </ul>
            </aside>
            <aside class="canvas-widget">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>




{% endblock %}

{% block afterMain %}
  {#
    This would be a great place to put a global footer.
  #}



<!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>  -->
<!-- <script src="assets/js/rangeslider.js"></script> -->










<!-- Custom JS Script -->

<!-- <script src="/modules/my-apostrophe-pages/js/always.js"></script> -->
<!-- Google fonts -->



{% endblock %}

{% block jsCalls %}



<script type="text/javascript">
    {{ data.js.globalCalls }}
    {{ data.js.reqCalls }}
</script>
<!-- External JS libraries -->
<!-- <script src="assets/js/jquery-2.2.0.min.js"></script> -->
<script  src="assets/js/app.js"></script>

<script src="assets/js/slick.min.js"></script>
<script src="assets/js/dropzone.js"></script>
<script src="assets/js/jquery.scrollUp.js"></script>
<!-- <script src="assets/js/jquery.selectBox.js"></script> -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/jquery.filterizr.js"></script>
<script src="assets/js/particles.min.js"></script>
<script src="assets/js/typed.min.js"></script>
<script src="assets/js/jquery.countdown.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/backstretch.js"></script>
<script src="assets/js/maps.js"></script>
<script src="assets/js/jquery.mb.YTPlayer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="assets/js/ie-emulation-modes-warning.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="assets/js/bootstrap-select.min.js"></script>
 <script src="assets/js/bootstrap-select-country.min.js"></script> 

<script src="assets/js/leaflet.js"></script>
<script src="assets/js/leaflet-providers.js"></script>
<script src="assets/js/leaflet.markercluster.js"></script>

<script type="text/javascript">

  $('.countrypicker').countrypicker();
    // document.getElementById("submit").css = true;
 // $('#submit').css('transition', 'all .8s cubic-bezier(.22, .67, .43, 1.22) .2s');
 // $("#submit").fadeIn(2000);

function enableBtn(){
   // $("#submit").fadeIn(2000);
    $('#submit').css('display', 'block');
   }

  var onloadCallback = function() {
    // alert("grecaptcha is ready!");
    grecaptcha.render('html_element', {
          'sitekey' : '6LcQFNEUAAAAAN_ivbfUHGMphrgyM8DY-WKiCbfy'
        });
};

function abrirmodalform(cadena){
$('#exampleModalScrollable').modal('show');
    }
</script>

<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
async defer>
</script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




<script type="text/javascript">
        
function formcommit() {

$('#users-form').trigger('reset');
function loadfechaform() {
    var dat = new Date();

    if ((dat.getMonth()+1)<10) {
        document.getElementById('example-date-input').value =  dat.getFullYear() + "-0"+ (dat.getMonth()+1) + "-" + dat.getDate();
    }else {
       document.getElementById('example-date-input').value =  dat.getFullYear() + "-"+ (dat.getMonth()+1) + "-" + dat.getDate();
   } 
}  
  $('#destino').val('') ;


  grecaptcha.reset();
    // $('#submit').css('display', "none !important");
    var x = document.querySelectorAll("#submit");
  x[0].setAttribute('style', 'display: none !important');


  var a = document.querySelectorAll("#divdestino");
  a[0].setAttribute('style', 'display: none !important');
  var b = document.querySelectorAll("#divfecha");
  b[0].setAttribute('style', 'display: none !important');
}


    $('#users-form').submit(function () {
// $('#selectpickerselect option:selected').val() para los valores
// $('#selectpickerselect option:selected').text() para el texto del item seleccionado en el selectpicker
     $('#countryinput').val($('#selectpickerselect option:selected').text()) 

    $.post('/clients/insert', $('#users-form').serialize(), function (result) {
        
        if (result.status === 200) {
           swal({
            showCancelButton: false,
            reverseButtons: true,
            title:"Gracias por elegirnos!",
            icon:"success",
            confirmButtonText: 'OK',
           }).then((resulta) => {
 // alert("funciona bien y entra a los valores");
    // disableBtn();
    grecaptcha.reset();
    // $('#submit').css('display', "none !important");
    var x = document.querySelectorAll("#submit");
  x[0].setAttribute('style', 'display: none !important');

    formcommit();

    $('#exampleModalScrollable').modal('hide');
    // $('#exampleModalScrollable').modal('dispose');
    $('#users-form').trigger('reset');
  
  
});
            // alert('Gracias por elegirnos!');
            
            // $('#captcha').attr("src", "/captcha");
        } else {
            swal({
                showCancelButton: false,
            reverseButtons: true,
                title:"Ups..., algo salio mal...",
                icon:"error",
                text: result.error,
                confirmButtonText: 'OK',
            }).then((resulta) => {
 // alert("funciona bien y entra a los valores");
 grecaptcha.reset();
 
  var x = document.querySelectorAll("#submit");
  x[0].setAttribute('style', 'display: none !important');

    // $('#exampleModalScrollable').modal('hide');
    // $('#exampleModalScrollable').modal('dispose');
    
  
  
});
            // alert("ups..., algo salio mal..." + " \n - Error: "+ result.error);
            // $('#captcha').attr("src", "/captcha");
        }
    });
    return false;
});

function abrirform(){
$('.nb-form').css("bottom", "0");    
}

function cerrarform(){


if (screen.width <= 676){
$('.nb-form').css("bottom", "-405px");
}else{
$('.nb-form').css("bottom", "-440px");
}


 
}
 

// $("#captcha").click(function(){
//         // Change src attribute of image
//         $(this).attr("src", "/captcha");
//     }); 
</script>




{% endblock %}